<div class="row">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Bar Chart</nb-card-header>
            <nb-card-body>
                <ngx-bar></ngx-bar>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Line Chart</nb-card-header>
            <nb-card-body>
                <ngx-line></ngx-line>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Area Chart</nb-card-header>
            <nb-card-body>
                <ngx-area></ngx-area>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Heat Map</nb-card-header>
            <nb-card-body>
                <ngx-heat-map></ngx-heat-map>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Multi Axis Graph</nb-card-header>
            <nb-card-body>
                <ngx-multi-axis></ngx-multi-axis>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Radar Chart</nb-card-header>
            <nb-card-body>
                <ngx-radar></ngx-radar>
            </nb-card-body>
        </nb-card>
    </div>
</div>