<div class="row">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Line Chart</nb-card-header>
            <nb-card-body>
                <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" color="#103cd7" [fullScreen]="false" type="square-jelly-box"
                    size="medium">
                    <p class="loading">Loading Awesomeness...</p>
                </ngx-spinner>
                <ngx-line></ngx-line>

            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Bar Chart</nb-card-header>
            <nb-card-body>
                <ngx-bar></ngx-bar>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Bubble Chart</nb-card-header>
            <nb-card-body>
                <ngx-bubble></ngx-bubble>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Area Filled Chart</nb-card-header>
            <nb-card-body>
                <ngx-area-filled></ngx-area-filled>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Pie Chart</nb-card-header>
            <nb-card-body>
                <ngx-pie></ngx-pie>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Donut Chart</nb-card-header>
            <nb-card-body>
                <ngx-donut></ngx-donut>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Stacked Bar Chart</nb-card-header>
            <nb-card-body>
                <ngx-stacked-bar></ngx-stacked-bar>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Funnel Chart</nb-card-header>
            <nb-card-body>
                <ngx-funnel></ngx-funnel>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Heatmap</nb-card-header>
            <nb-card-body>
                <ngx-heatmap></ngx-heatmap>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Waterfall Chart</nb-card-header>
            <nb-card-body>
                <ngx-waterfall></ngx-waterfall>
            </nb-card-body>
        </nb-card>
    </div>
</div>